* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;

}

a{
  text-decoration: none;
}

.navbar{
  width: 100%;
  display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 8%;
}

.navbar ul{
  display: flex;
  gap: 2rem;
  padding: 10px 20px ;
  border-radius: 70px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
  /* background-color: gray; */
}

.navbar ul li{
  pad: 5px 10px;
list-style-type: none;
cursor: pointer;

}

.navbar button{
  outline:0 ;
  background: #000;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  padding: 9px 16px;
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.container h1{
  font-size: 60px;
  font-weight: 500;
}